.calculator-container {
    display: flex;
    margin: 0 auto;
    width: 20rem;
    flex-flow: column;
    justify-content: space-around;
    border: 1px solid #000000;
    border-radius: 5px;
}

.calculator-display {
    background-color: #fdfdae;
    width: 18rem;
    font-size: 1.5rem;
    flex-flow: row wrap;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 2rem;
    min-height: 5rem;
    border: 1px solid #999999;
    border-bottom: 0;
    word-wrap: break-word;
}

h1 {
    text-align: right;
}

.calculator-total {
    background-color: #fdeeae;
    width: 18rem;
    font-size: 1.8rem;
    flex-flow: row wrap;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: auto;
    /* border: 1px solid #999999; */
    word-wrap: break-word;
    color: #666666;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}

.calculator-row-one {
    font-family: Poppins;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    width: 18rem;
    margin: 5px auto;
}

.calculator-body {
    font-family: Poppins;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    width: 17rem;
    margin: 5px auto;
}

